/vendor/
/node_modules/

# Added via Composer.
/wordpress/

/wp-content/uploads/

# Exclude everything by default as tracked by Composer.
/wp-content/plugins/*
/wp-content/themes/*

# Do track our custom assets.
!/wp-content/plugins/my-plugin/
!/wp-content/themes/my-theme/