<phpunit
	bootstrap="tests/phpunit-bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
        <testsuite name="project">
			<directory suffix="-test.php">./tests/phpunit</directory>
		</testsuite>
		<testsuite name="my-plugin">
			<directory suffix="-test.php">./tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
