<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
	<arg name="extensions" value="php" />

	<file>phpunit</file>

	<file>../wp-content/themes/my-theme</file>
	<file>../wp-content/plugins/my-plugin</file>

	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Extra" />

	<exclude-pattern>/node_modules/</exclude-pattern>
	<exclude-pattern>/wp-content/vendor/</exclude-pattern>
	<exclude-pattern>/tools/</exclude-pattern>
</ruleset>
